@media print {
    /* Define as margens da página em 0 */
    @page {
      margin: 0;
    }

    .navbar{
        display: none;
    }
    /* Reduz a escala da página para 90% */
    html, body {
      width: 100%;
      height: 90%;
      font-size: 13px;
      zoom: 0.9;
    }
    
    body {
      padding: 0;
      margin: 0;
      background-color: #fff;
    }

    th{
        font-size: 13px !important;
    }

    .print-btn{
        display: none;
    }

    .print-btn button{
        display: none;
    }
  }